<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd nlog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn" internalLogFile="c:\logs\sql-runner\nlog-internal.log">
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="all" fileName="c:\logs\sql-runner\nlog-all-${shortdate}.log"
            layout="${time}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="system-log" fileName="c:\logs\sql-runner\nlog-system-${shortdate}.log"
            layout="${time}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <target xsi:type="File" name="application-file-log" fileName="c:\logs\sql-runner\nlog-app-${shortdate}.log"
            layout="${time}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
    
    <target xsi:type="ColoredConsole"
            name="application-console-log"
            layout="${time}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Warn"  writeTo="system-log" />
    <logger name="System.*"    minlevel="Warn"  writeTo="system-log" />
    <logger name="*"    minlevel="Trace" writeTo="application-console-log"/>
    <!-- <logger name="*"    minlevel="Trace" writeTo="all" /> -->
  </rules>
</nlog>
